# Total Oscar candidate actors/actresses who have the most famous films by genre.

## And at the end answer two questions:

* What is the gender with the highest number of candidates?

* What is the film with the greatest percentage difference in nominations compared to the average for its genre?

In [19]:
import re
import json
from urllib.parse import urljoin
import requests
from bs4 import BeautifulSoup
import pandas as pd


## Extract the 30 best movies from the action, comedy, drama and horror genres on FilmAffinity, as well as movies from 1980 onwards.

In [20]:
full_peliculas = []  # Lista vacía para almacenar la información de las películas
generos = {'action', 'comedy', 'drama', 'horror'}  # Conjunto de géneros

# Iterar sobre cada género
for genero in generos:
    # Construir la URL para cada género
    genre_url = f'https://www.filmaffinity.com/us/topgen.php?genres=%2B{genero[:2].upper()}&chv=0&orderby=rc&movietype=movie%7C&country=&fromyear=1980&toyear=2023&ratingcount=2&runtimemin=0&runtimemax=4'
    
    # Realizar una solicitud GET a la URL del género y obtener la página
    req = requests.get(genre_url)
    
    # Crear un objeto BeautifulSoup para analizar el HTML de la página del género
    soup = BeautifulSoup(req.text, 'html.parser')
    
    # Encontrar todas las películas en la página del género utilizando la clase 'mc-title'
    for pelicula in soup.select('.mc-title'):
        # Obtener el título de la película
        titulo = pelicula.text.strip()
        
        # Encontrar el div siguiente que contiene el reparto utilizando la clase 'mc-cast'
        cast_div = pelicula.find_next_sibling(class_='mc-cast')
        
        # Obtener los nombres de los actores de los elementos '.nb' dentro del div de reparto
        actores = [actor.text.strip() for actor in cast_div.select('.nb') if actor.a]
        
        # Agregar la información de la película a la lista de películas
        full_peliculas.append({
            "title": titulo.split("(")[0].strip(),  # Título de la película
            "year": titulo.split("(")[1].strip().replace(")", ""),  # Año de la película
            "genre": genero,  # Género de la película
            "actors": ", ".join(actores)  # Lista de actores de la película
        })    

# Devolver la lista completa de películas recolectadas
full_peliculas

[{'title': 'The Matrix',
  'year': '1999',
  'genre': 'action',
  'actors': 'Keanu Reeves,, Laurence Fishburne,, Carrie-Anne Moss,, Joe Pantoliano,, Hugo Weaving,, Marcus Chong,, Gloria Foster,, Matt Doran'},
 {'title': 'The Lord of the Rings: The Fellowship of the Ring',
  'year': '2001',
  'genre': 'action',
  'actors': 'Elijah Wood,, Ian McKellen,, Viggo Mortensen,, Sean Astin,, Sean Bean,, John Rhys-Davies,, Orlando Bloom,, Dominic Monaghan'},
 {'title': 'Gladiator',
  'year': '2000',
  'genre': 'action',
  'actors': 'Russell Crowe,, Joaquin Phoenix,, Connie Nielsen,, Oliver Reed,, Richard Harris,, Ralf Moeller,, Derek Jacobi,, Djimon Hounsou'},
 {'title': 'Kill Bill: Volume 1',
  'year': '2003',
  'genre': 'action',
  'actors': 'Uma Thurman,, Lucy Liu,, Daryl Hannah,, Vivica A. Fox,, Sonny Chiba,, Chiaki Kuriyama,, Michael Bowen,, Julie Dreyfus'},
 {'title': 'The Lord of the Rings: The Return of the King',
  'year': '2003',
  'genre': 'action',
  'actors': 'Elijah Wood,, Viggo Mortensen,, Ian McKellen,, Sean Astin,, Andy Serkis,, John Rhys-Davies,, Orlando Bloom,, John Noble'},
 {'title': 'The Lord of the Rings: The Two Towers',
  'year': '2002',
  'genre': 'action',
  'actors': 'Elijah Wood,, Viggo Mortensen,, Ian McKellen,, Sean Astin,, Andy Serkis,, John Rhys-Davies,, Orlando Bloom,, Bernard Hill'},
 {'title': 'Avatar',
  'year': '2009',
  'genre': 'action',
  'actors': 'Sam Worthington,, Zoe Saldana,, Sigourney Weaver,, Stephen Lang,, Michelle Rodriguez,, Giovanni Ribisi,, Joel David Moore,, Wes Studi'},
 {'title': 'Inception',
  'year': '2010',
  'genre': 'action',
  'actors': 'Leonardo DiCaprio,, Joseph Gordon-Levitt,, Elliot Page,, Ken Watanabe,, Marion Cotillard,, Tom Hardy,, Cillian Murphy,, Tom Berenger'},
 {'title': 'Inglourious Basterds',
  'year': '2009',
  'genre': 'action',
  'actors': 'Brad Pitt,, Christoph Waltz,, Mélanie Laurent,, Diane Kruger,, Michael Fassbender,, Daniel Brühl,, Eli Roth,, Til Schweiger'},
 {'title': 'Pirates of the Caribbean: The Curse of the Black Pearl',
  'year': '2003',
  'genre': 'action',
  'actors': 'Johnny Depp,, Orlando Bloom,, Keira Knightley,, Geoffrey Rush,, Jack Davenport,, Kevin McNally,, Jonathan Pryce,, Mackenzie Crook'},
 {'title': 'The Dark Knight',
  'year': '2008',
  'genre': 'action',
  'actors': 'Christian Bale,, Heath Ledger,, Aaron Eckhart,, Michael Caine,, Gary Oldman,, Morgan Freeman,, Maggie Gyllenhaal,, Eric Roberts'},
 {'title': '300',
  'year': '2006',
  'genre': 'action',
  'actors': 'Gerard Butler,, Lena Headey,, David Wenham,, Dominic West,, Vincent Regan,, Tom Wisdom,, Rodrigo Santoro,, Andrew Tieman'},
 {'title': 'The Terminator',
  'year': '1984',
  'genre': 'action',
  'actors': 'Arnold Schwarzenegger,, Linda Hamilton,, Michael Biehn,, Paul Winfield,, Lance Henriksen,, Rick Rossovich,, Bess Motta,, Earl Boen'},
 {'title': 'Kill Bill: Volume 2',
  'year': '2004',
  'genre': 'action',
  'actors': 'Uma Thurman,, David Carradine,, Lucy Liu,, Vivica A. Fox,, Gordon Liu,, Michael Madsen,, Daryl Hannah,, Michael Parks'},
 {'title': 'Men in Black',
  'year': 'MIB',
  'genre': 'action',
  'actors': "Tommy Lee Jones,, Will Smith,, Linda Fiorentino,, Vincent D'Onofrio,, Rip Torn,, Tony Shalhoub,, Siobhan Fallon,, Mike Nussbaum"},
 {'title': 'Reservoir Dogs',
  'year': '1992',
  'genre': 'action',
  'actors': 'Tim Roth,, Harvey Keitel,, Steve Buscemi,, Michael Madsen,, Chris Penn,, Lawrence Tierney,, Randy Brooks,, Kirk Baltz'},
 {'title': 'The Departed',
  'year': '2006',
  'genre': 'action',
  'actors': 'Leonardo DiCaprio,, Matt Damon,, Jack Nicholson,, Mark Wahlberg,, Vera Farmiga,, Alec Baldwin,, Martin Sheen,, Ray Winstone'},
 {'title': 'Blade Runner',
  'year': '1982',
  'genre': 'action',
  'actors': 'Harrison Ford,, Rutger Hauer,, Sean Young,, Daryl Hannah,, Edward James Olmos,, Joanna Cassidy,, Brion James,, Joe Turkel'},
 {'title': 'Raiders of the Lost Ark',
  'year': '1981',
  'genre': 'action',
  'actors': 'Harrison Ford,, Karen Allen,, Paul Freeman,, Ronald Lacey,, John Rhys-Davies,, Vic Tablian,, Denholm Elliott,, Wolf Kahler'},
 {'title': 'V for Vendetta',
  'year': '2005',
  'genre': 'action',
  'actors': 'Natalie Portman,, Hugo Weaving,, Stephen Rea,, John Hurt,, Rupert Graves,, Stephen Fry,, Tim Pigott-Smith,, Roger Allam'},
 {'title': 'Terminator 2: Judgment Day',
  'year': '1991',
  'genre': 'action',
  'actors': 'Arnold Schwarzenegger,, Linda Hamilton,, Edward Furlong,, Robert Patrick,, Earl Boen,, Joe Morton,, S. Epatha Merkerson,, Danny Cooksey'},
 {'title': 'Sin City',
  'year': "Frank Miller's Sin City",
  'genre': 'action',
  'actors': 'Bruce Willis,, Mickey Rourke,, Clive Owen,, Rosario Dawson,, Jessica Alba,, Benicio del Toro,, Elijah Wood,, Marley Shelton'},
 {'title': 'Indiana Jones and the Last Crusade',
  'year': '1989',
  'genre': 'action',
  'actors': 'Harrison Ford,, Sean Connery,, Alison Doody,, Denholm Elliott,, John Rhys-Davies,, River Phoenix,, Julian Glover,, Michael Byrne'},
 {'title': 'Die Hard',
  'year': '1988',
  'genre': 'action',
  'actors': 'Bruce Willis,, Bonnie Bedelia,, Alan Rickman,, Alexander Godunov,, Paul Gleason,, Reginald Veljohnson,, William Atherton,, Hart Bochner'},
 {'title': 'The Matrix Revolutions',
  'year': '2003',
  'genre': 'action',
  'actors': 'Keanu Reeves,, Laurence Fishburne,, Carrie-Anne Moss,, Hugo Weaving,, Jada Pinkett Smith,, Harold Perrineau,, Nona Gaye,, Clayton Watson'},
 {'title': 'X-Men',
  'year': '2000',
  'genre': 'action',
  'actors': 'Hugh Jackman,, Patrick Stewart,, Ian McKellen,, Anna Paquin,, Halle Berry,, Famke Janssen,, Bruce Davison,, James Marsden'},
 {'title': 'Indiana Jones and the Temple of Doom',
  'year': '1984',
  'genre': 'action',
  'actors': 'Harrison Ford,, Kate Capshaw,, Ke Huy Quan,, Amrish Puri,, Roshan Seth,, Roy Chiao,, Philip Stone,, Raj Singh'},
 {'title': 'Batman',
  'year': '1989',
  'genre': 'action',
  'actors': 'Michael Keaton,, Jack Nicholson,, Kim Basinger,, Robert Wuhl,, Pat Hingle,, Billy Dee Williams,, Michael Gough,, Jack Palance'},
 {'title': 'Batman Begins',
  'year': '2005',
  'genre': 'action',
  'actors': 'Christian Bale,, Liam Neeson,, Katie Holmes,, Cillian Murphy,, Michael Caine,, Morgan Freeman,, Gary Oldman,, Ken Watanabe'},
 {'title': 'The Bourne Identity',
  'year': '2002',
  'genre': 'action',
  'actors': 'Matt Damon,, Franka Potente,, Chris Cooper,, Brian Cox,, Clive Owen,, Adewale Akinnuoye-Agbaje,, Gabriel Mann,, Julia Stiles'},
 {'title': 'Forrest Gump',
  'year': '1994',
  'genre': 'comedy',
  'actors': 'Tom Hanks,, Robin Wright,, Gary Sinise,, Mykelti Williamson,, Sally Field,, Rebecca Williams,, Michael Conner Humphreys,, Haley Joel Osment'},
 {'title': 'Life Is Beautiful',
  'year': '1997',
  'genre': 'comedy',
  'actors': 'Roberto Benigni,, Nicoletta Braschi,, Giorgio Cantarini,, Marisa Paredes,, Giustino Durano,, Horst Buchholz,, Sergio Bini Bustric'},
 {'title': 'American Beauty',
  'year': '1999',
  'genre': 'comedy',
  'actors': 'Kevin Spacey,, Annette Bening,, Thora Birch,, Allison Janney,, Peter Gallagher,, Mena Suvari,, Wes Bentley,, Chris Cooper'},
 {'title': 'The Lion King',
  'year': '1994',
  'genre': 'comedy',
  'actors': 'Matthew Broderick,, Jeremy Irons,, Jonathan Taylor Thomas,, Moira Kelly,, Rowan Atkinson,, Whoopi Goldberg,, Cheech Marin'},
 {'title': 'Toy Story',
  'year': '1995',
  'genre': 'comedy',
  'actors': 'Tom Hanks,, Tim Allen,, Don Rickles,, Jim Varney,, Wallace Shawn,, John Ratzenberger,, Annie Potts,, R. Lee Ermey'},
 {'title': 'Amelie',
  'year': '2001',
  'genre': 'comedy',
  'actors': 'Audrey Tautou,, Mathieu Kassovitz,, Rufus Magloire,, Lorella Cravotta,, Serge Merlin,, Jamel Debbouze,, Claire Maurier,, Clotilde Mollet'},
 {'title': 'Inglourious Basterds',
  'year': '2009',
  'genre': 'comedy',
  'actors': 'Brad Pitt,, Christoph Waltz,, Mélanie Laurent,, Diane Kruger,, Michael Fassbender,, Daniel Brühl,, Eli Roth,, Til Schweiger'},
 {'title': 'Shrek',
  'year': '2001',
  'genre': 'comedy',
  'actors': 'Mike Myers,, Eddie Murphy,, Cameron Diaz,, John Lithgow'},
 {'title': "There's Something About Mary",
  'year': '1998',
  'genre': 'comedy',
  'actors': 'Cameron Diaz,, Ben Stiller,, Matt Dillon,, Chris Elliott,, Lee Evans,, Lin Shaye,, W. Earl Brown,, Keith David'},
 {'title': 'Pirates of the Caribbean: The Curse of the Black Pearl',
  'year': '2003',
  'genre': 'comedy',
  'actors': 'Johnny Depp,, Orlando Bloom,, Keira Knightley,, Geoffrey Rush,, Jack Davenport,, Kevin McNally,, Jonathan Pryce,, Mackenzie Crook'},
 {'title': 'Monsters, Inc.',
  'year': '2001',
  'genre': 'comedy',
  'actors': 'John Goodman,, Billy Crystal,, Mary Gibbs,, Steve Buscemi,, James Coburn,, Jennifer Tilly,, Bob Peterson'},
 {'title': 'Up',
  'year': '2009',
  'genre': 'comedy',
  'actors': 'Ed Asner,, Christopher Plummer,, Jordan Nagai,, Bob Peterson,, Delroy Lindo,, Jerome Ranft,, John Ratzenberger'},
 {'title': 'Finding Nemo',
  'year': '2003',
  'genre': 'comedy',
  'actors': 'Albert Brooks,, Ellen DeGeneres,, Alexander Gould,, Willem Dafoe,, Brad Garrett,, Allison Janney,, Austin Pendleton'},
 {'title': 'Back to the Future',
  'year': '1985',
  'genre': 'comedy',
  'actors': 'Michael J. Fox,, Christopher Lloyd,, Lea Thompson,, Crispin Glover,, Claudia Wells,, Thomas F. Wilson,, James Tolkan,, Billy Zane'},
 {'title': 'Men in Black',
  'year': 'MIB',
  'genre': 'comedy',
  'actors': "Tommy Lee Jones,, Will Smith,, Linda Fiorentino,, Vincent D'Onofrio,, Rip Torn,, Tony Shalhoub,, Siobhan Fallon,, Mike Nussbaum"},
 {'title': 'Snatch',
  'year': '2000',
  'genre': 'comedy',
  'actors': 'Jason Statham,, Stephen Graham,, Brad Pitt,, Alan Ford,, Vinnie Jones,, Rade Serbedzija,, Dennis Farina,, Benicio del Toro'},
 {'title': 'As Good As It Gets',
  'year': '1997',
  'genre': 'comedy',
  'actors': 'Jack Nicholson,, Helen Hunt,, Greg Kinnear,, Cuba Gooding Jr.,, Skeet Ulrich,, Shirley Knight,, Jesse James,, Lawrence Kasdan'},
 {'title': 'Shrek 2',
  'year': '2004',
  'genre': 'comedy',
  'actors': 'Mike Myers,, Eddie Murphy,, Cameron Diaz,, Antonio Banderas,, Jennifer Saunders,, Rupert Everett,, Julie Andrews,, John Cleese'},
 {'title': 'Pretty Woman',
  'year': '1990',
  'genre': 'comedy',
  'actors': 'Julia Roberts,, Richard Gere,, Hector Elizondo,, Jason Alexander,, Ralph Bellamy,, Laura San Giacomo,, Hank Azaria,, Larry Miller'},
 {'title': 'Dumb and Dumber',
  'year': '1994',
  'genre': 'comedy',
  'actors': 'Jim Carrey,, Jeff Daniels,, Lauren Holly,, Mike Starr,, Charles Rocket,, Victoria Rowell,, Joe Baker,, Hank Brandt'},
 {'title': 'The Truman Show',
  'year': '1998',
  'genre': 'comedy',
  'actors': 'Jim Carrey,, Laura Linney,, Noah Emmerich,, Ed Harris,, Natascha McElhone,, Holland Taylor,, Paul Giamatti,, Adam Tomei'},
 {'title': 'Home Alone',
  'year': '1990',
  'genre': 'comedy',
  'actors': "Macaulay Culkin,, Joe Pesci,, Daniel Stern,, John Heard,, Roberts Blossom,, Catherine O'Hara,, John Candy,, Angela Goethals"},
 {'title': 'The Big Lebowski',
  'year': '1998',
  'genre': 'comedy',
  'actors': 'Jeff Bridges,, John Goodman,, Julianne Moore,, Steve Buscemi,, David Huddleston,, Philip Seymour Hoffman,, Sam Elliott,, John Turturro'},
 {'title': 'Ice Age',
  'year': '2002',
  'genre': 'comedy',
  'actors': 'Ray Romano,, John Leguizamo,, Denis Leary,, Jack Black,, Alan Tudyk,, Chris Wedge'},
 {'title': 'Ghostbusters',
  'year': '1984',
  'genre': 'comedy',
  'actors': 'Bill Murray,, Dan Aykroyd,, Sigourney Weaver,, Harold Ramis,, Ernie Hudson,, Rick Moranis,, William Atherton,, Annie Potts'},
 {'title': 'Toy Story 3',
  'year': '2010',
  'genre': 'comedy',
  'actors': 'Tom Hanks,, Tim Allen,, Joan Cusack,, Don Rickles,, Estelle Harris,, Blake Clark,, Wallace Shawn'},
 {'title': 'Toy Story 2',
  'year': '1999',
  'genre': 'comedy',
  'actors': 'Tom Hanks,, Tim Allen,, Joan Cusack,, Don Rickles,, Estelle Harris,, Kelsey Grammer,, Jim Varney'},
 {'title': 'American Pie',
  'year': '1999',
  'genre': 'comedy',
  'actors': 'Jason Biggs,, Chris Klein,, Thomas Ian Nicholas,, Alyson Hannigan,, Shannon Elizabeth,, Tara Reid,, Eddie Kaye Thomas,, Seann William Scott'},
 {'title': 'The Intouchables',
  'year': '2011',
  'genre': 'comedy',
  'actors': 'François Cluzet,, Omar Sy,, Anne Le Ny,, Audrey Fleurot,, Clotilde Mollet,, Joséphine de Meaux,, Alba Gaïa Bellugi,, Cyril Mendy'},
 {'title': 'Scary Movie',
  'year': '2000',
  'genre': 'comedy',
  'actors': 'Anna Faris,, Jon Abrahams,, Carmen Electra,, Shannon Elizabeth,, Kurt Fuller,, Regina Hall,, Lochlyn Munro,, Cheri Oteri'},
 {'title': 'Forrest Gump',
  'year': '1994',
  'genre': 'drama',
  'actors': 'Tom Hanks,, Robin Wright,, Gary Sinise,, Mykelti Williamson,, Sally Field,, Rebecca Williams,, Michael Conner Humphreys,, Haley Joel Osment'},
 {'title': 'Life Is Beautiful',
  'year': '1997',
  'genre': 'drama',
  'actors': 'Roberto Benigni,, Nicoletta Braschi,, Giorgio Cantarini,, Marisa Paredes,, Giustino Durano,, Horst Buchholz,, Sergio Bini Bustric'},
 {'title': 'Fight Club',
  'year': '1999',
  'genre': 'drama',
  'actors': 'Edward Norton,, Brad Pitt,, Helena Bonham Carter,, Meat Loaf,, Jared Leto,, Van Quattro,, Markus Redmond,, Michael Girardin'},
 {'title': 'Gladiator',
  'year': '2000',
  'genre': 'drama',
  'actors': 'Russell Crowe,, Joaquin Phoenix,, Connie Nielsen,, Oliver Reed,, Richard Harris,, Ralf Moeller,, Derek Jacobi,, Djimon Hounsou'},
 {'title': 'Titanic',
  'year': '1997',
  'genre': 'drama',
  'actors': 'Leonardo DiCaprio,, Kate Winslet,, Billy Zane,, Kathy Bates,, Frances Fisher,, Gloria Stuart,, Bill Paxton,, Bernard Hill'},
 {'title': "Schindler's List",
  'year': '1993',
  'genre': 'drama',
  'actors': 'Liam Neeson,, Ben Kingsley,, Ralph Fiennes,, Caroline Goodall,, Jonathan Sagall,, Embeth Davidtz,, Norbert Weisser,, Martin S. Bergmann'},
 {'title': 'American Beauty',
  'year': '1999',
  'genre': 'drama',
  'actors': 'Kevin Spacey,, Annette Bening,, Thora Birch,, Allison Janney,, Peter Gallagher,, Mena Suvari,, Wes Bentley,, Chris Cooper'},
 {'title': 'The Shawshank Redemption',
  'year': '1994',
  'genre': 'drama',
  'actors': 'Tim Robbins,, Morgan Freeman,, Bob Gunton,, James Whitmore,, Gil Bellows,, William Sadler,, Mark Rolston,, Clancy Brown'},
 {'title': 'Million Dollar Baby',
  'year': '2004',
  'genre': 'drama',
  'actors': "Clint Eastwood,, Hilary Swank,, Morgan Freeman,, Anthony Mackie,, Jay Baruchel,, Mike Colter,, Lucia Rijker,, Brian F. O'Byrne"},
 {'title': 'The Sixth Sense',
  'year': '1999',
  'genre': 'drama',
  'actors': 'Haley Joel Osment,, Bruce Willis,, Toni Collette,, Olivia Williams,, Trevor Morgan,, Donnie Wahlberg,, Peter Tambakis,, Jeffrey Zubernis'},
 {'title': 'The Lion King',
  'year': '1994',
  'genre': 'drama',
  'actors': 'Matthew Broderick,, Jeremy Irons,, Jonathan Taylor Thomas,, Moira Kelly,, Rowan Atkinson,, Whoopi Goldberg,, Cheech Marin'},
 {'title': 'Amelie',
  'year': '2001',
  'genre': 'drama',
  'actors': 'Audrey Tautou,, Mathieu Kassovitz,, Rufus Magloire,, Lorella Cravotta,, Serge Merlin,, Jamel Debbouze,, Claire Maurier,, Clotilde Mollet'},
 {'title': 'E.T. the Extra-Terrestrial',
  'year': '1982',
  'genre': 'drama',
  'actors': 'Henry Thomas,, Dee Wallace,, Robert MacNaughton,, Drew Barrymore,, Peter Coyote,, C. Thomas Howell,, K.C. Martel,, Sean Frye'},
 {'title': 'The Dark Knight',
  'year': '2008',
  'genre': 'drama',
  'actors': 'Christian Bale,, Heath Ledger,, Aaron Eckhart,, Michael Caine,, Gary Oldman,, Morgan Freeman,, Maggie Gyllenhaal,, Eric Roberts'},
 {'title': 'Braveheart',
  'year': '1995',
  'genre': 'drama',
  'actors': "Mel Gibson,, Sophie Marceau,, Patrick McGoohan,, Angus MacFadyen,, Catherine McCormack,, Brendan Gleeson,, David O'Hara,, Tommy Flanagan"},
 {'title': 'The Pianist',
  'year': '2002',
  'genre': 'drama',
  'actors': 'Adrien Brody,, Thomas Kretschmann,, Maureen Lipman,, Ed Stoppard,, Emilia Fox,, Frank Finlay,, Julia Rayner,, Jessica Kate Meyer., Morgane Polanski'},
 {'title': 'American History X',
  'year': '1998',
  'genre': 'drama',
  'actors': "Edward Norton,, Edward Furlong,, Fairuza Balk,, Stacy Keach,, Elliott Gould,, Avery Brooks,, Beverly D'Angelo,, Jennifer Lien"},
 {'title': 'Gran Torino',
  'year': '2008',
  'genre': 'drama',
  'actors': 'Clint Eastwood,, Christopher Carley,, Bee Vang,, Ahney Her,, John Carroll Lynch,, Cory Hardrict,, Brian Haley,, Geraldine Hughes'},
 {'title': 'The Departed',
  'year': '2006',
  'genre': 'drama',
  'actors': 'Leonardo DiCaprio,, Matt Damon,, Jack Nicholson,, Mark Wahlberg,, Vera Farmiga,, Alec Baldwin,, Martin Sheen,, Ray Winstone'},
 {'title': 'Trainspotting',
  'year': '1996',
  'genre': 'drama',
  'actors': 'Ewan McGregor,, Robert Carlyle,, Jonny Lee Miller,, Ewen Bremner,, Kelly MacDonald,, Kevin McKidd,, Peter Mullan,, James Cosmo'},
 {'title': 'Mystic River',
  'year': '2003',
  'genre': 'drama',
  'actors': 'Sean Penn,, Tim Robbins,, Kevin Bacon,, Laurence Fishburne,, Marcia Gay Harden,, Laura Linney,, Eli Wallach,, Tom Guiry'},
 {'title': 'Slumdog Millionaire',
  'year': '2008',
  'genre': 'drama',
  'actors': 'Dev Patel,, Freida Pinto,, Madhur Mittal,, Anil Kapoor,, Irrfan Khan,, Saurabh Shukla,, Mia Drake,, Rajendranath Zutshi'},
 {'title': 'As Good As It Gets',
  'year': '1997',
  'genre': 'drama',
  'actors': 'Jack Nicholson,, Helen Hunt,, Greg Kinnear,, Cuba Gooding Jr.,, Skeet Ulrich,, Shirley Knight,, Jesse James,, Lawrence Kasdan'},
 {'title': 'Big Fish',
  'year': '2003',
  'genre': 'drama',
  'actors': 'Ewan McGregor,, Albert Finney,, Billy Crudup,, Jessica Lange,, Alison Lohman,, Helena Bonham Carter,, Steve Buscemi,, Danny DeVito'},
 {'title': 'Moulin Rouge',
  'year': '2001',
  'genre': 'drama',
  'actors': 'Nicole Kidman,, Ewan McGregor,, John Leguizamo,, David Wenham,, Jim Broadbent,, Richard Roxburgh,, Jacek Koman,, Kylie Minogue'},
 {'title': 'City of God',
  'year': '2002',
  'genre': 'drama',
  'actors': 'Alexandre Rodrigues,, Leandro Firmino,, Phellipe Haagensen,, Douglas Silva,, Seu Jorge,, Jonathan Haagensen,, Matheus Nachtergaele,, Jefechander Suplino'},
 {'title': 'The Truman Show',
  'year': '1998',
  'genre': 'drama',
  'actors': 'Jim Carrey,, Laura Linney,, Noah Emmerich,, Ed Harris,, Natascha McElhone,, Holland Taylor,, Paul Giamatti,, Adam Tomei'},
 {'title': 'The Curious Case of Benjamin Button',
  'year': '2008',
  'genre': 'drama',
  'actors': 'Brad Pitt,, Cate Blanchett,, Taraji P. Henson,, Tilda Swinton,, Jason Flemyng,, Julia Ormond,, Elias Koteas,, Elle Fanning'},
 {'title': 'Full Metal Jacket',
  'year': '1987',
  'genre': 'drama',
  'actors': "Matthew Modine,, Vincent D'Onofrio,, R. Lee Ermey,, Adam Baldwin,, Arliss Howard,, Dorian Harewood,, Kevyn Major Howard,, Ed O'Ross"},
 {'title': 'Requiem for a Dream',
  'year': '2000',
  'genre': 'drama',
  'actors': 'Jared Leto,, Jennifer Connelly,, Ellen Burstyn,, Marlon Wayans,, Christopher McDonald,, Louise Lasser,, Marcia Jean Kurtz,, Janet Sarno'}]

In [21]:
movies = pd.DataFrame(full_peliculas)
movies["name"] = movies["actors"].str.split(",")
movies

,title,year,genre,actors,name
0,The Matrix,1999,action,"Keanu Reeves,, Laurence Fishburne,, Carrie-Ann...","[Keanu Reeves, , Laurence Fishburne, , Carri..."
1,The Lord of the Rings: The Fellowship of the Ring,2001,action,"Elijah Wood,, Ian McKellen,, Viggo Mortensen,,...","[Elijah Wood, , Ian McKellen, , Viggo Morten..."
2,Gladiator,2000,action,"Russell Crowe,, Joaquin Phoenix,, Connie Niels...","[Russell Crowe, , Joaquin Phoenix, , Connie ..."
3,Kill Bill: Volume 1,2003,action,"Uma Thurman,, Lucy Liu,, Daryl Hannah,, Vivica...","[Uma Thurman, , Lucy Liu, , Daryl Hannah, , ..."
4,The Lord of the Rings: The Return of the King,2003,action,"Elijah Wood,, Viggo Mortensen,, Ian McKellen,,...","[Elijah Wood, , Viggo Mortensen, , Ian McKel..."
...,...,...,...,...,...
85,City of God,2002,drama,"Alexandre Rodrigues,, Leandro Firmino,, Phelli...","[Alexandre Rodrigues, , Leandro Firmino, , P..."
86,The Truman Show,1998,drama,"Jim Carrey,, Laura Linney,, Noah Emmerich,, Ed...","[Jim Carrey, , Laura Linney, , Noah Emmerich..."
87,The Curious Case of Benjamin Button,2008,drama,"Brad Pitt,, Cate Blanchett,, Taraji P. Henson,...","[Brad Pitt, , Cate Blanchett, , Taraji P. He..."
88,Full Metal Jacket,1987,drama,"Matthew Modine,, Vincent D'Onofrio,, R. Lee Er...","[Matthew Modine, , Vincent D'Onofrio, , R. L..."
89,Requiem for a Dream,2000,drama,"Jared Leto,, Jennifer Connelly,, Ellen Burstyn...","[Jared Leto, , Jennifer Connelly, , Ellen Bu..."

In [22]:
movies = movies.explode("name").drop(columns="actors")
movies["name"] = movies["name"].str.strip()

In [23]:
movies = movies.reset_index(drop=True)

movies

                    title  year   genre                name
0              The Matrix  1999  action        Keanu Reeves
1              The Matrix  1999  action
2              The Matrix  1999  action  Laurence Fishburne
3              The Matrix  1999  action
4              The Matrix  1999  action    Carrie-Anne Moss
...                   ...   ...     ...                 ...
1316  Requiem for a Dream  2000   drama       Louise Lasser
1317  Requiem for a Dream  2000   drama
1318  Requiem for a Dream  2000   drama   Marcia Jean Kurtz
1319  Requiem for a Dream  2000   drama
1320  Requiem for a Dream  2000   drama         Janet Sarno

[1321 rows x 4 columns]

## Extract the Oscar awards from the year 1980.

In [24]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

actor_types = [
    ('al', 'actor'),
    ('a_la', 'actriz'),
    ('al', 'actor_de_reparto'),
    ('a_la', 'actriz_de_reparto')
]

all_actors_movies = []

for art, actor_type in actor_types:
    url = f'https://es.wikipedia.org/wiki/Anexo:%C3%93scar_{art}_mejor_{actor_type}'

    # Realizar la solicitud GET a la página
    response = requests.get(url)

    # Crear el objeto BeautifulSoup para analizar el HTML
    soup = BeautifulSoup(response.content, 'html.parser')

    # Encontrar todas las tablas en la página
    tablas = soup.find_all('table')

    # Lista para almacenar los actores y películas de esta URL
    actors_movies = []

    # Iterar sobre cada tabla y extraer los nombres de los actores y películas
    for tabla in tablas:
        filas = tabla.find_all('tr')  # Encontrar todas las filas de la tabla
        for fila in filas:
            columnas = fila.find_all(['th', 'td'])  # Encontrar las columnas (celdas de encabezado y datos)
            datos_fila = [columna.text.strip() for columna in columnas]  # Extraer texto de cada celda
            # Añadir a la lista si hay datos en la fila y no es un encabezado
            if datos_fila and len(datos_fila) >= 4 and datos_fila[0].isdigit():
                actor_pelicula = {
                    'actor': datos_fila[2],
                    'pelicula': datos_fila[3]
                }
                actors_movies.append(actor_pelicula)

    # Añadir los actores y películas extraídos de esta URL a la lista principal
    all_actors_movies.append({
        'actor_type': actor_type,
        'actors_movies': actors_movies
    })

# Crear un DataFrame con los datos recolectados
data = []
for table_info in all_actors_movies:
    for actor_pelicula in table_info['actors_movies']:
        data.append([actor_pelicula['actor'], actor_pelicula['pelicula']])

oscars = pd.DataFrame(data, columns=['name', 'Película'])

oscars

                 name                   Película
0      Brendan Fraser                  The Whale
1          Will Smith               King Richard
2     Anthony Hopkins                 The Father
3     Joaquin Phoenix                      Joker
4          Rami Malek          Bohemian Rhapsody
..                ...                        ...
438      Jane Darwell        The Grapes of Wrath
439   Hattie McDaniel  Lo que el viento se llevó
440       Fay Bainter                    Jezabel
441       Alice Brady             In Old Chicago
442  Gale Sondergaard            Anthony Adverse

[443 rows x 2 columns]

In [25]:
oscars = oscars.groupby("name").size().sort_values()
oscars = oscars.reset_index()
oscars.columns = ["name", "nominations"]
oscars

                           name  nominations
0                  Adrien Brody            1
1             Marcia Gay Harden            1
2    Lupita Nyong'o[1]​[2]​[3]​            1
3               Louise Fletcher            1
4            Louis Gossett, Jr.            1
..                          ...          ...
308           Frances McDormand            3
309            Daniel Day-Lewis            3
310              Ingrid Bergman            3
311           Katharine Hepburn            4
312                       Mujer           79

[313 rows x 2 columns]

In [26]:
df = movies.merge(oscars, on="name", how='inner')
df

,title,year,genre,name,nominations
0,Gladiator,2000,action,Russell Crowe,1
1,Gladiator,2000,drama,Russell Crowe,1
2,Gladiator,2000,action,Joaquin Phoenix,1
3,Gladiator,2000,drama,Joaquin Phoenix,1
4,Inception,2010,action,Leonardo DiCaprio,1
...,...,...,...,...,...
98,Moulin Rouge,2001,drama,Jim Broadbent,1
99,The Curious Case of Benjamin Button,2008,drama,Cate Blanchett,2
100,The Curious Case of Benjamin Button,2008,drama,Tilda Swinton,1
101,Requiem for a Dream,2000,drama,Jennifer Connelly,1
102,Requiem for a Dream,2000,drama,Ellen Burstyn,1

In [27]:
df.to_json("movies_actors.json")

## Género con más nominaciones:

In [28]:
df = pd.read_json("movies_actors.json")

In [29]:
df.groupby("genre")["nominations"].sum().sort_values(ascending=False)

genre
drama     55
comedy    39
action    37
Name: nominations, dtype: int64

## The genre with the most nominations is drama.

In [30]:
df = df.groupby(["title", "genre"])["nominations"].sum()

In [31]:
df = df.reset_index()
df

                                                title   genre  nominations
0                                     American Beauty  comedy            4
1                                     American Beauty   drama            4
2                                  As Good As It Gets  comedy            5
3                                  As Good As It Gets   drama            5
4                                              Batman  action            5
5                                       Batman Begins  action            5
6                                            Big Fish   drama            2
7                                          Fight Club   drama            2
8                                        Finding Nemo  comedy            1
9                                        Forrest Gump  comedy            4
10                                       Forrest Gump   drama            4
11                                          Gladiator  action            2
12                                          Gladiator   drama            2
13                                         Home Alone  comedy            1
14                                          Inception  action            2
15                 Indiana Jones and the Last Crusade  action            1
16               Indiana Jones and the Temple of Doom  action            1
17                               Inglourious Basterds  action            3
18                               Inglourious Basterds  comedy            3
19                                  Life Is Beautiful  comedy            1
20                                  Life Is Beautiful   drama            1
21                                       Men in Black  action            2
22                                       Men in Black  comedy            2
23                                Million Dollar Baby   drama            3
24                                     Monsters, Inc.  comedy            1
25                                       Moulin Rouge   drama            2
26                                       Mystic River   drama            4
27  Pirates of the Caribbean: The Curse of the Bla...  action            1
28  Pirates of the Caribbean: The Curse of the Bla...  comedy            1
29                                       Pretty Woman  comedy            1
30                                Requiem for a Dream   drama            3
31                                   Schindler's List   drama            1
32                                            Shrek 2  comedy            1
33                                           Sin City  action            1
34                                             Snatch  comedy            2
35                                   The Big Lebowski  comedy            3
36                                The Bourne Identity  action            1
37                The Curious Case of Benjamin Button   drama            4
38                                    The Dark Knight  action            6
39                                    The Dark Knight   drama            6
40                                       The Departed  action            4
41                                       The Departed   drama            4
42                                      The Lion King  comedy            2
43                                      The Lion King   drama            2
44                                        The Pianist   drama            1
45                           The Shawshank Redemption   drama            2
46                                            Titanic   drama            3
47                                          Toy Story  comedy            2
48                                        Toy Story 2  comedy            2
49                                        Toy Story 3  comedy            2
50                                                 Up  comedy            1
51                                     V for Vendetta  action            1
52                                              X-Men  action            2

In [32]:
#Media por nominación por cada género
df.groupby("genre")["nominations"].mean()

genre
action    2.466667
comedy    2.052632
drama     2.894737
Name: nominations, dtype: float64

In [33]:
#ratio de nominación por cada película.
df["ratio_nominations"] = df.groupby("genre")["nominations"].transform(lambda x: x/x.mean())
df

,title,genre,nominations,ratio_nominations
0,American Beauty,comedy,4,1.948718
1,American Beauty,drama,4,1.381818
2,As Good As It Gets,comedy,5,2.435897
3,As Good As It Gets,drama,5,1.727273
4,Batman,action,5,2.027027
5,Batman Begins,action,5,2.027027
6,Big Fish,drama,2,0.690909
7,Fight Club,drama,2,0.690909
8,Finding Nemo,comedy,1,0.487179
9,Forrest Gump,comedy,4,1.948718
10,Forrest Gump,drama,4,1.381818
11,Gladiator,action,2,0.810811
12,Gladiator,drama,2,0.690909
13,Home Alone,comedy,1,0.487179
14,Inception,action,2,0.810811
15,Indiana Jones and the Last Crusade,action,1,0.405405
16,Indiana Jones and the Temple of Doom,action,1,0.405405
17,Inglourious Basterds,action,3,1.216216
18,Inglourious Basterds,comedy,3,1.461538
19,Life Is Beautiful,comedy,1,0.487179
20,Life Is Beautiful,drama,1,0.345455
21,Men in Black,action,2,0.810811
22,Men in Black,comedy,2,0.974359
23,Million Dollar Baby,drama,3,1.036364
24,"Monsters, Inc.",comedy,1,0.487179
25,Moulin Rouge,drama,2,0.690909
26,Mystic River,drama,4,1.381818
27,Pirates of the Caribbean: The Curse of the Bla...,action,1,0.405405
28,Pirates of the Caribbean: The Curse of the Bla...,comedy,1,0.487179
29,Pretty Woman,comedy,1,0.487179
30,Requiem for a Dream,drama,3,1.036364
31,Schindler's List,drama,1,0.345455
32,Shrek 2,comedy,1,0.487179
33,Sin City,action,1,0.405405
34,Snatch,comedy,2,0.974359
35,The Big Lebowski,comedy,3,1.461538
36,The Bourne Identity,action,1,0.405405
37,The Curious Case of Benjamin Button,drama,4,1.381818
38,The Dark Knight,action,6,2.432432
39,The Dark Knight,drama,6,2.072727
40,The Departed,action,4,1.621622
41,The Departed,drama,4,1.381818
42,The Lion King,comedy,2,0.974359
43,The Lion King,drama,2,0.690909
44,The Pianist,drama,1,0.345455
45,The Shawshank Redemption,drama,2,0.690909
46,Titanic,drama,3,1.036364
47,Toy Story,comedy,2,0.974359
48,Toy Story 2,comedy,2,0.974359
49,Toy Story 3,comedy,2,0.974359
50,Up,comedy,1,0.487179
51,V for Vendetta,action,1,0.405405
52,X-Men,action,2,0.810811

In [34]:
df.nlargest(3, columns="ratio_nominations")

                 title   genre  nominations  ratio_nominations
2   As Good As It Gets  comedy            5           2.435897
38     The Dark Knight  action            6           2.432432
39     The Dark Knight   drama            6           2.072727

In [40]:
movies[movies['title']=='As Good As It Gets']

                   title  year   genre              name
672   As Good As It Gets  1997  comedy    Jack Nicholson
673   As Good As It Gets  1997  comedy
674   As Good As It Gets  1997  comedy        Helen Hunt
675   As Good As It Gets  1997  comedy
676   As Good As It Gets  1997  comedy      Greg Kinnear
677   As Good As It Gets  1997  comedy
678   As Good As It Gets  1997  comedy  Cuba Gooding Jr.
679   As Good As It Gets  1997  comedy
680   As Good As It Gets  1997  comedy      Skeet Ulrich
681   As Good As It Gets  1997  comedy
682   As Good As It Gets  1997  comedy    Shirley Knight
683   As Good As It Gets  1997  comedy
684   As Good As It Gets  1997  comedy       Jesse James
685   As Good As It Gets  1997  comedy
686   As Good As It Gets  1997  comedy   Lawrence Kasdan
1201  As Good As It Gets  1997   drama    Jack Nicholson
1202  As Good As It Gets  1997   drama
1203  As Good As It Gets  1997   drama        Helen Hunt
1204  As Good As It Gets  1997   drama
1205  As Good As It Gets  1997   drama      Greg Kinnear
1206  As Good As It Gets  1997   drama
1207  As Good As It Gets  1997   drama  Cuba Gooding Jr.
1208  As Good As It Gets  1997   drama
1209  As Good As It Gets  1997   drama      Skeet Ulrich
1210  As Good As It Gets  1997   drama
1211  As Good As It Gets  1997   drama    Shirley Knight
1212  As Good As It Gets  1997   drama
1213  As Good As It Gets  1997   drama       Jesse James
1214  As Good As It Gets  1997   drama
1215  As Good As It Gets  1997   drama   Lawrence Kasdan

## Movie with the greatest percentage difference compared to the average for its genre is Better... Impossible (1997) starring Jack Nicholson.

In [36]:
df.nsmallest(3, columns="ratio_nominations")

                title  genre  nominations  ratio_nominations
20  Life Is Beautiful  drama            1           0.345455
31   Schindler's List  drama            1           0.345455
44        The Pianist  drama            1           0.345455

## Films with lower percentages compared to the average for their genre are The Pianist, Schindler's List and Life is Beautiful.